<div class="app-component-wrapper-container">
    <div class="components-wrapper-container">
        <div class="header-component-container">
            <app-header></app-header>
        </div>
        <div class="route-map-and-servicable-locations-wrapper-container">
            <div class="route-map-component-wrapper-container">
                <app-route-map></app-route-map>
            </div>
            <div class="servicable-locations-component-wrapper-container">
                <app-servicable-locations></app-servicable-locations>
            </div>
        </div>
        <div class="trip-details-component-wrapper-container">
            <app-trip-details></app-trip-details>
        </div>
    </div>
</div>